/* General styles */

:root {
  --color-blue: #00798a;
  --color-white: #ffffff;
  --color-dark: #212121;
  --color-light: #f6f7f8;
  --color-red: #f65858;
  --color-gray: #707070;
  --color-location-bg: rgba(151, 202, 209, 0.12);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--color-dark);
  background-color: var(--color-white);
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-white);
}

.main {
  width: 100%;
}
